.темная {
    --bg-color: black;
    --font-color: lightslategray;
    --hl-color: orange;
    --fg-color: #292f34;
}

.светлая {
    --bg-color: #ffffff;
    --font-color: #111111;
    --hl-color: #b33838;
    --fg-color: #3b8792;
}
